/* 转场动画 */

%ic-view{

}

[ic-view]{
  @extend %ic-view;
}

.ic-animating{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

[ic-view], [ic-panel] {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  min-height: 100%;
  background: #fff;
  /*    -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      min-height: 100%;
      background: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      touch-action: pan-y;
      -webkit-overflow-scrolling: touch;*/
}

[ic-view] {
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  bottom:0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

[ic-view]:not([ic-active]), [ic-panel]:not([ic-active]) {
  position: absolute;
  z-index: -2;
  top: -10000px;
}

[ic-view][ic-active], [ic-panel][ic-active] {
  position: absolute;
  z-index: auto;
  left: 0;
  top: 0;
}

[ic-aniOut] {
  display: none!important;
}

[ic-aniIn] {
  display: block!important;
}