/*
==========================================
 */
html,body{
    height: 100%;
}
[ic-aniOut]{
    display: none!important;
}
[ic-aniIn]{
    display: block!important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-overflow-scrolling: touch;
}
[ic-view]{
    background: #fff;
    top:0;
    left:0;
    position: absolute;
    width:100%;
    min-height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
[ic-view]:not([ic-view-active]){
    position: absolute;
    z-index: -2;
    left:0;
    top:-10000px;
}
[ic-view][ic-view-active]{
    position: absolute;
    z-index: auto;
    left:0;
    top:0;
}
[ic-accordion] [ic-accordion-con]{
    display: none;
}
[ic-accordion] [ic-accordion-item][ic-accordion-active] [ic-accordion-con],
[ic-accordion] [ic-accordion-item]:nth-child(1) [ic-accordion-con]{
    display: block;
}
[ic-accordion] [ic-accordion-item][ic-accordion-active] [ic-accordion-title],
[ic-accordion] [ic-accordion-item]:nth-child(1) [ic-accordion-title]{
    display: none;
}

[ic-upload][type=file]{
    width:0;
    height: 0;
    visibility: hidden;
}
[ic-tpl]{
    display: none;
}
[ic-drag-view]{
    position: relative;
    overflow: hidden;
}
[ic-role-drag-handle]{
    cursor:  move;
}
[ic-role-loading]{
    display: none;
}

[ic-slider]{
    position: relative;
    overflow: hidden;
}
[ic-role-slider-pagination]{
    cursor: pointer;
}
[ic-role-tab]{
    cursor: pointer;
}
[ic-role-con]{
    display: none;
}

[ic-dropdown]{
    position: relative;
}
[ic-role-dropdown-menu]{
    position: absolute;
    left:0;
    z-index: 10;
    display: none;
}
[ic-role-dropdown-con]{
    overflow: hidden;
}

[ic-scene]{
    display: none;
}
[ic-scene-active]{
    display: inherit;
}
/*输入提示列表*/
[ic-role-list]{
    display: none;
    position: absolute;
    z-index: 100;
}
/* 对话框 */
[ic-dialog]{
    position: absolute;
    top:10%;
    left:50%;
    display: none;
    z-index: 100;
}
[ic-role-dialog-close]{
    position: absolute;
    right:10px;
    top:10px;
}
/*.transparent{*/
/*background:rgba(0,0,0,0.6);*/
/*background: transparent\9;*/
/*zoom:1\8; *//* required for the filters */
/*-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; *//* IE8 */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); *//* IE5.5-7 */
/*}*/

/*.transparent2{*/
/**background:#f00; *filter:alpha(opacity=50);*/
/*}*/

.t{background:rgba(0,34,89,0.2);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33002259,endColorstr=#33002259);zoom:1;}
:root .t{filter:none\9;}/*for IE9*/