/*!
站点通用样式 by Julien
==============================================
 */

html {
    color: #000;
    background: #FFF
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

legend {
    color: #000
}

#yui3-css-stamp.cssreset {
    display: none
}
/*
站点基本样式定义
======================================================
 */
html, body {
    color: #656d78;
    background: #fff;
    line-height: 1.6;
    font-size: 14px;
    font-family: microsoft yahei, Simsun;
}
body{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
a {
    color: #4a7cbc;
    text-decoration: none;
}

p {
    font-family: sans-serif;
    font-size: 12px;
}

article {
    width: 720px;
    margin: 2em auto;
}

article p {
    margin: 1.8em 0;
    text-indent: 2em;
    font-size: 16px;
}

table {
    width: 100%;
}

select {
    font-size: inherit;
    box-sizing: border-box;
    padding: 0 0.5em;
    line-height: 1.8;
    height: 1.8em;
    border-radius: 0.1em;;
    border: solid 1px #ccd1d9;
}

[type="text"] {
    width: 6em;
    border: solid 1px #ccd1d9;
    line-height: 2;
}

i, b {
    font-style: normal;
}

thead.hc th{
    text-align:center;
}
thead th.hl{
    text-align:left;
}
/*
交互样式定义
========================================================
 */

/*
通用基本类定义
=========================================================
 */
.none {
    display: none !important;
}

.inline {
    vertical-align: top;
}

.inline, .inline-list, .inline-list > li, .inline-list-1, .inline-list-1 > li {
    display: inline-block;
}

.inline-list {
    vertical-align: top;
}

.inline-list li {
    float: left;
}

/*垂直对齐，水平对齐 */
.f-left, .fl {
    float: left;
}

.f-right, .fr {
    float: right;
}

.v-top, .vt {
    vertical-align: top;
}

.v-middle, .vm {
    vertical-align: middle;
}

.vb {
    vertical-align: bottom;
}

.hl {
    text-align: left;
}

.h-center, .hc {
    text-align: center;
}

.h-right, .hr {
    text-align: right;
}

/* 强制一行显示 */
.line {
    white-space: nowrap;
}

/*border background样式定义 */
.br-1 {
    border-right: solid 1px #e6e9ed;
}

.bg-1 {
    background: #e7edf7;
}

/* 半透明黑色背景图片 */
.bg-t1 {
    background: url(/assets/img/bg/transparent-bg.png) repeat 0 0;
}

.disabled {
    cursor: not-allowed !important;
}

/*
字体样式定义
=========================================================
 */

.t-1 {
    font-family: microsoft yahei, Simsun;
    font-size: 24px;
}

.t-2 {
    font-size: 20px;
    color: #fff;
}

.t-3 {
    color: #3f6aa0;
    font-weight: bold;
    font-size: 16px;
}

.t-4 {
    font-family: microsoft yahei, Simsun;
}

.t-5 {
    font-size: 16px;
    color: #1a1c39;
    font-weight: bold;
}

.t-6 {
    color: #afb7c1;
    font-size: 12px;
}

.t-7, .t-71, .t-7-1 {
    color: #ff9915;
    font-size: 12px;
}

.t-71, .t-7-1 {
    font-size: 14px;
}

.t-8 {
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
}

.t-9 {
    font-size: 16px;
    color: #da4453;
    font-weight: bold;
}

.t-10, .t-101 {
    font-size: 16px;
    color: #434a54;
    font-weight: bold;
}

.t-16-0-b4, .t-16-1-b4,
.t-101 {
    color: #494d80;
}

.t-12 {
    font-size: 28px;
    color: #434a54;
    font-weight: bold;
}

.t-13 {
    font-size: 14px;
    color: #4a7cbc;
    font-weight: bold;
}

.t-14 {
    font-size: 20px;
    color: #494f57;
    font-weight: bold;
}

.t-16, .t-16-1 {
    color: #434a54;
    font-size: 14px;
    font-weight: bold;
}

.t-16-1 {
    color: #4a89dc;
}

.prev, .next {
    font-family: sans-serif !important;
    font-weight: bold;
    font-size: 1.3em;
}

/*
t    为前缀；
-18  字体大小
-0   字体样式   0 ： normal； 1： bold;
-r1 字体颜色   r: red; b: blue; y: yellow; g: green; w: white; k: black; a: gray;
*/
.t-12-0-a0,
.t-12-0-a1,
.t-12-1-a2 {
    font-size: 12px;
}

.t-12-0-a0 {
    color: #aab2bd;
}

.t-12-0-a1,
.t-14-0-a1, .t-14-1-a1,
{
    color: #898a8b;
}

.t-12-1-a2, .t-14-1-a2 {
    color: #656d78;
}

.t-14-1-a2, .t-14-1-b0, .t-14-1-a3,
.t-14-1-up, .t-14-1-md, .t-14-1-down,
.t-14-0-k1, .t-14-1-k1,
.t-14-0-a1, .t-14-1-a1,
.t-14-0-y1, .t-14-1-y1,
.t-14-0-r1, .t-14-1-r1, .t-14-0-up, .t-14-1-up {
    font-size: 14px;
}

.t-14-0-y1, .t-14-1-y1
.t-24-0-y1, .t-24-1-y1 {
    color: #ff9915;
}

.t-14-1-md,
.t-16-0-a3, .t-16-1-a3 {
    color: #aab2bd;
}

.t-14-1-down,
.t-16-0-down, .t-16-1-down,
.t-18-0-down, .t-18-1-down {
    color: #37bc9b;
}

.t-14-0-k1, .t-14-1-k1,
.t-16-0-k1, .t-16-1-k1,
.t-18-0-k1, .t-18-1-k1,
.t-24-0-k1, .t-24-1-k1 {
    color: #434a54;
}

.t-14-1-b0 {
    color: #5d9cec;
}

.t-14-1-a3 {
    color: #434a54;
}

.t-14-0-b1, .t-14-1-b1,
{
    font-size: 14px;
    color: #4a89dc;
}

.t-14-0-r1, .t-14-1-r1, .t-14-0-up, .t-14-1-up,
.t-16-0-up, .t-16-1-up,
.t-16-0-r1, .t-16-1-r1,
.t-18-0-up, .t-18-1-up {
    color: #da4453;
}

.t-24-0-a1, .t-24-1-a1 {
    color: #8e959e;
}
.t-24-0-w, .t-24-1-w{
    color:#fff;
}
.t-16-0-b4, .t-16-1-b4
{
    color: #494d80;
}
.fy-1,
.t-12-1-a2, .t-14-1-a2, .t-14-1-a3,
.t-14-1-g1, .t-14-1-b0,
.t-14-1-r1, .t-14-1-b1, .t-14-1-g1, .t-14-1-a1, .t-14-1-up, .t-14-1-md, .t-14-1-down, .t-14-1-k1, .t-18-1-a1,
.t-14-1-y1,
.t-16-1-b1,
.t-16-1-a3,
.t-16-1-k1,
.t-16-1-r1,
.t-16-1-b4,
.t-16-1-up, .t-16-1-down,
.t-18-1-up, .t-18-1-down,
.t-18-1-k1,
.t-18-1-b1,
.t-24-1-a1,
.t-24-1-k1,
.t-24-1-y1,
.t-24-1-w
{
    font-weight: bold;
}

.t-16-0-up, .t-16-0-down, .t-16-1-up, .t-16-1-down,
.t-16-0-a3, .t-16-1-a3,
.t-16-0-k1, .t-16-1-k1,
.t-16-0-r1, .t-16-1-r1,
.t-16-0-b1, .t-16-1-b1,
.t-16-0-b4, .t-16-1-b4
{
    font-size: 16px;
}

.fc-a1,
.t-18-0-a1, .t-18-1-a1,
.t-18-0-up, .t-18-1-up, .t-18-0-down, .t-18-1-down {
    color: #656d78;
}

.t-18-0-b1, .t-18-1-b1,
.t-18-0-k1, .t-18-1-k1,
.t-18-0-a1, .t-18-1-a1, .t-18-0-up, .t-18-1-up, .t-18-0-down, .t-18-1-down {
    font-size: 18px;
}

.t-24-0-w, .t-24-1-w,
.t-24-0-a1, .t-24-1-a1,
.t-24-0-y1, .t-24-1-y1,
.t-24-0-k1, .t-24-1-k1 {
    font-size: 24px;
}

/*定义字体颜色*/
.fc-1, .fc-w {
    color: #fff;
}

.fc-2, .fc-y1 {
    color: #ff9915;
}

.fc-3 {
    color: #1a1c39;
}

.fc-a3, .fc-k1 {
    color: #434a54;
}

.fc-5, .fc-b3 {
    color: #3bafda;
}
.bg-b3{
    background-color: #3bafda;
}
.fc-6, .fc-r1 {
    color: #ed5565;
}
.fc-r2{
    color: #fc6e51;
}
.bg-r2{
    background-color: #fc6e51;
}

.fc-7, .fc-a0, .fc-md {
    color: #aab2bd;
}
.bg-a0{
    background-color: #edf1f7;
}
.fc-8, .fc-b1,
.t-16-0-b1, .t-16-1-b1,
.t-18-0-b1, .t-18-1-b1
{
    color: #4a7cbc;
}

.fc-11 {
    color: #d071ca;
}

.fc-down {
    color: #37bc9b;
}

.fc-up {
    color: #ed5565;
}

.fc-inherit {
    color: inherit;
}

.fc-b1 {
    color: #405daf;
}
.fc-g1{
    color: #5db348;
}
/*定义字体大小*/
.fz-12 {
    font-size: 12px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-20, .fz-24, .fz-28, .fz-32 {
}

.fz-20 {
    font-size: 20px;
}

.fz-24 {
    font-size: 24px;
}

.fz-28 {
    font-size: 28px;
}

.f-32 {
    font-size: 32px;
}

.fz-small {
    font-size: 0.6em;
}

.fz-normal {
    font-size: 1em;
}

.fz-large {
    font-size: 1.4em;
}

/**/

.fc-a-inherit a {
    color: inherit;
}
/*
组件样式定义
=========================================================
 */
.chart, .loading{
    background: url(/assets/img/loading_.gif) no-repeat 50% 50%;
}
.loading{
    display: inline-block;
    width:16px;
    height: 16px;
}
/* 提示框 */
.tipsBox{
    position:fixed;
    top:-300px;
    left:50%;
    opacity:0;
    z-index:100;
}
.tips{
    position:absolute;
    padding:1em;
    background-color: #60B044;
}
.tips1{
    pointer-events: none;
    position:absolute;
    padding:0.5em;
    color: #fff;
    text-align: center;
    border-radius: 0.2em;
    background: #73c000;
}
/* 表单 */
.form .tip{
    padding:10px 0;
}
.form .tip.error{
    color:#e57f7f;
}
/* 分割线 */
.hr-1{
    clear: both;
    margin:1.4em 0 0 0;
    padding:0 0 1.4em 0;
    border: none;
    border-top: solid 1px #e6e9ed;
}

/* 搜索框 */
.search-1 {
    position: relative;
}

.search-1 .input {
    width: 280px;
    height: 38px;
    padding: 0 44px 0 14px;
    line-height: 38px;
    border: solid 1px #ccd1d9;
    border-radius: 2px;
}

.search-1 .enter {
    position: absolute;
    height: 38px;
    right: 0;
    top: 0;
    background-color: #ff9915;
    border: solid 1px #dc8412;
    border-radius: 0 2px 2px 0;
}

/*面包屑路径 */
.crumbs {
    font-size: 12px;
}

.crumbs .split {
    margin: 0 10px;
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
    color: #ff9915;
}

/* 各种面板 */
.panel-1 {
    padding: 40px 0 20px 0;
    background: #f5f7fa;
    border-bottom: solid 2px #e6e9ed;
}

.panel-2 {
    border-top: solid 1px #e6e9ed;
}

.panel-2 .title {
    padding: 7px 10px;
    background: #f5f7fa;
    border-bottom: solid 1px #e6e9ed;
}

.panel-2 .item {
    border: solid 1px #e6e9ed;
    border-top: none;
}

.panel-3 {
    padding: 20px;
    border: solid 1px #e6e9ed;
    background: #f5f7fa;
}

.panel-3 .one {
    width: 200px;
    margin-right: 20px;
    position: relative;
    border-right: solid 1px #e6e9ed;
}

.panel-3 .two {
    width: 200px;
}

.panel-4{width: 190px;
    height: 115px;
    padding: 15px 20px 5px 20px;
    margin: 12px 0 0 6px;background-repeat: no-repeat;}
.panel-5{
    color: #fff;
    border-top:4px solid #efb865;
    background: #3cbad7;
    box-shadow: 1px 1px 3px #444;
}
/* 分页按钮*/
.pagination, .pagination-1 {
    text-align: center;
    margin: 1em 0;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

.pagination .num, .pagination .prev, .pagination .next,
.pagination-1 .num, .pagination-1 .prev, .pagination-1 .next {
    color: #ff9815;
    background: #fff;
    font-size: 1.1em;
    padding: 0.2em 0.6em;
    margin: 0 0.2em;
    cursor: pointer;
    vertical-align: middle;
}

.pagination .num,
.pagination-1 .num {
    border: solid 1px transparent;
}

.pagination-1 .num {
    font-size: 1em;
    margin: 0 0 0 -1px;
    border: solid 1px #ff9815;
}

.pagination .num:hover, .pagination .num.active,
.pagination-1 .num:hover, .pagination-1 .num.active {
    color: #fff;
    background: #ff9815;
    border: solid 1px #ff9815;
}

.pagination .prev, .pagination .next {
    font-style: normal;
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    border: solid 1px #ff9815;
}

.pagination .prev.disabled, .pagination .next.disabled {
    color: #aeb7c0;
    border-color: #aeb7c0;
}

/* 对话框 */
.dialog{
    position: absolute;
    min-width: 320px;
    max-width: 800px;
    background: #fff;
    box-shadow: 0px 2px 4px #666;
}
.dialog-s1{
    background: #fff;
}
.dialog-s1 header, .dialog-s1 .header{
    position: relative;
    padding:0 20px;
    background: #1a1c39;
    color: #fff;
    line-height: 42px;
}
.dialog-s1 header .btn-close, .dialog-s1 .header .btn-close{
    position: absolute;
    right:14px;
    padding: 0px;
    font-size:20px;
}
.dialog-s1 footer, .dialog-s1 .footer{
    padding: 15px 20px;
    border-top:solid 1px #e6e9ed;
}

.dialog-s2{
    padding: 15px;
}
/*.dialog:after{
    content: '';
    background: url(../../../img/bg/transparent-bg.png) repeat 0 0;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}*/

/* 文本输入框 */
.input-text,.input-text-scale, .input-text-md, .input-text-sm {
    min-width: 22em;
    padding: 5px 0 5px 0.5em;
    border: solid 1px #ccd1d9;
    border-radius: 0.3em;
    text-align: left;
    vertical-align: middle;
    line-height: 32px;
    height: 32px;
    font-size: 12px;
}

.input-text-md, .input-text-sm{
    min-width: 20em;
    padding:0 0.5em;
    border-radius: 0.2em;
    height:36px;
    line-height: 36px;
}
.input-text-sm{
    min-width: 8em;
}

.input-text-scale{
    line-height: 1.8;
    height:1.8em;
}
.input-search{
    padding-left:36px;
    background: url(/assets/img/icons/icon-search.png) no-repeat 8px 50%;
}

/* 导航 */
.nav-2 {
    position: relative;
    border-left: solid 1px #e6e9ed;
}

.nav-2 > li {
    line-height: 48px;
    border-right: solid 1px #e6e9ed;
    border-bottom: solid 2px transparent;
}

.nav-2 > li.active, .nav-2 > li:hover {
    border-bottom-color: #dc8412;
}

.nav-2 > li a {
    color: #434a54;
    padding: 0 20px;
    display: inline-block;
    border-bottom: solid 4px transparent;
}

.nav-2 > li a:hover, .nav-2 > li:hover > a, .nav-2 > li.active a {
    font-weight: bold;
    border-bottom-color: #ff9915;
}

/* 标题 */
.title-1 {
    position: relative;
    border-bottom: solid 3px #1a1c39;
}

.title-1 .text {
    position: relative;
    top: 3px;
    border-bottom: solid 3px #ff9915;
}

.title-2 {
    position: relative;
    padding: 6px 0;
    border-bottom: solid 3px #1a1c39;
}

.title-2 .more {
    position: absolute;
    top: 6px;
    right: 0;
}

.title-3, .title-3-1 {
    line-height: 1;
    margin: 30px 0 10px 0;
    padding-left: 8px;
    border-left: solid 5px #ff9915;
}
.title-3-1{
    color: #434a54;
    font-size: 24px;
    margin:0.5em 0;
    padding: 0 0 0 0.5em;
    border-left:solid 8px #ff9915;
}

/* 列表 */
.select-list{
    min-height: 1em;
    background: #fff;
    border:solid 1px #cfd0d5;
    box-shadow:2px 3px 3px rgba(97, 97, 97, 0.45);
    line-height: 2;
    padding: 1px;
}
.select-list li{
    padding: 0 15px;
}
.select-list li:hover{
    color:#fff;
    background: #0066e9;
    background: #ff9915;
}
.list-1 li {
    position: relative;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-1 li p{
    white-space: normal;
}
.list-1 li:hover {
    background: #e7edf7;
}

.list-1 li span+a {
    margin-left: 1em;
}

.list-1 li time {
    position: absolute;
    right: 5px;
    color: #afb7c1;
    font-size: 12px;
}

.list-2 {

}

.list-2 li {
    margin: 15px 0 0 0;
    padding: 0 0 0 15px;
}

.list-2 .digest {
    margin: 10px 0 0 0;
}

.list-4{

}
.list-4 >li{
    margin:0.4em 0;
    padding:1em 0.4em 1em 1em;
    border-left:7px solid #ff717f;
}

/* 下拉菜单 */
.menu-3, .menu-3-1 {
    display: block;
    min-width: 100%;
    width: 100%;
    background: #fff;
    border: solid 1px #e9eaeb;
    border-bottom: solid 2px #dcdddd;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=5); /*for ie6,7,8*/
    box-shadow: gray 2px 2px 6px;
}

.menu-3-1 {
    border-top: solid 1px #ccd1d9;
}

.menu-3 {
    margin-top: 2px;
}

.menu-3 li, .menu-3-1 li {
    display: block;
    float: none;
    padding: 0;
    border-bottom: solid 1px #e9eaeb;
    text-align: center;
    line-height: 3;
}

.menu-3-1 li {
    border: none;
}

.menu-3 li a, .menu-3-1 li a {
    width: 100%;
    padding: 0;
    display: inline-block;
    color: #494f57;
}

.menu-3 li a:hover, .menu-3-1 li a:hover {
    background: #ff9915;
    color: #fff;
}

/* 表格 */
.table-1 {
    width: 100%;
}

.table-1 th, .table-1 td {
    text-align: center
}

.table-2 {

}

.table-2 th {
    padding: 15px 0 5px 10px;
    border-bottom: solid 1px #e6e9ed;
}

.table-2 td {
    padding: 15px 0 0 10px;
}

.table-3, .table-3-1 {

}

.table-3 th, .table-3 td, .table-3-1 th, .table-3-1 td {
    padding: 7px 5px 7px 15px;
    border: solid 1px #e6e9ed;
}

.table-3-1 th, .table-3-1 td {
    padding: 8px 5px 8px 8px;
}

.table-fixed-1{
    table-layout: fixed;
    width: auto;
    margin-left:auto;
    margin-right:auto;
}

.table-4 th, .table-4-1 th,  .table-4-2 th{
    border-top:solid 1px #e6e9ed;
    background: #f5f7fa;
}
.table-4 td, .table-4-2 td{
    border-bottom:solid 1px #e6e9ed;
}
.table-4 th, .table-4 td, .table-4-1 th, .table-4-1 td, .table-4-2 th, .table-4-2 td{
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

.table-4-2 td{
    padding-top:22px;
    background: url(/assets/img/bg/bg-td-line.png) repeat-x 0 5px;
}

/*
按钮样式定义
============================================================
 */

.btn {
    font-family: inherit;
    vertical-align: middle;
    display: inline-block;
    padding: 0.3em 0.5em 0.2em 0.5em;
    line-height: 1.6;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 0.2em;
    transition: all .4s;
}

.btn-0, .btn-0-2, .btn-0-3 {
    color: inherit;
    background: transparent;
    border: none;
}

.btn-0-2 {
    color: #ff9915;
}
.btn-0-3{
    border-bottom: solid 3px transparent;
}

.btn-0:hover, .btn-0-2:hover, .btn-0-2.active, .btn-0-3:hover,.btn-0-3:active {
    color: #fff;
    background: #ff9915;
}
.btn-0-3:hover, .btn-0-3.active{
    color: #fff;
    border-bottom-color:  #ce954b;
    background: #ff9915;
}
.btn-0-1:hover {
    color: #fff;
    background: #1a1c39;
}

.btn-1, .btn-1-1, .btn-1-2 {
    color: #fff;
    background: #ff9915;
    border-bottom: solid 2px #ce954b;
}

.btn-small {
    font-size: 12px;
}

.btn-1-1 {
    padding: 0.5em 2em;
}

.btn-1:hover, .btn-1-1:hover, .btn-1:active, .btn-1-1:active {
    background: #e48913;
}

.btn-2 {
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
    background: #656d78;
    border-bottom: solid 2px #1a1c39;
}

.btn-2:hover, .btn-2:active {
    background: #4b5159;
}

.btn-3 {
    background: #e6e9ed;
    color: #cacfd7;
}

.btn-y1{
    color:#fff;
    padding: 0 1em;
    line-height: 42px;
    background: #ccd1d9;
    border-bottom: solid 2px #aab2bd;
}
.btn-b1{
    color: #fff;
    background: #4fc1e9;
    border-bottom: solid 2px #308db0;
}

.btn-label {
    border-radius: 0;
}

.btn-tab-1{
    color: #ff9915;
    background: #fff;
    border:solid 1px #ff9915;
    padding:0.2em 1em;
}
.btn-tab-1:hover, .btn-tab-1.active{
    color: #fff;
    background: #ff9915;
}

.btn.disabled{
    color:#fff;
    background: #ccd1d9;
    border-bottom:solid 3px #aab2bd;
}
.btn-md, .btn-md-1-1{
    padding: 0 1.2em;
    line-height:36px;
}
.btn-large{

}
.btn-md-1-1{
    width:100%;
    padding: 0;
}
/* 按钮组 */
.btn-group, .btn-group-1 {
    display: inline-block;
}
.btn-group .btn{
    float:left;
}
.btn-group .btn {
    border-radius: 0;
}
.btn-group .first{
    border-radius:0.3em 0 0  0.3em;
}
.btn-group .last{
    border-radius: 0 0.3em 0.3em 0;
}
.btn-group .last:after{
    content: "";
    display: inline-block;
    clear:both;
}

/* */

.btn.icon{
    line-height: 1;
    padding: 0;
}

/*
其它
===============================================================
*/
.bor-1 {
    border-top: solid 1px #e6e9ed;
    border-bottom: solid 2px #e6e9ed;
}

.bl-1-1, .bl-1-2, .bl-1-3, .bl-1-4, .bl-1-5, .bl-1-6 {
    border-left: solid 4px transparent;
}

.bl-1-1 {
    border-color: #da4453;
}

.bl-1-2 {
    border-color: #fc6e51;
}

.bl-1-3 {
    border-color: #37bc9b;
}

.bl-1-4 {
    border-color: #967adc;
}

.bl-1-5 {
    border-color: #f6bb42;
}

.bl-1-6 {
    border-color: #4fc1e9;
}

.bb-3-k1 {
    border-bottom: 3px solid #1a1c39;

}

.level-up-1, .level-up-2, .level-up-3, .level-up-4, .level-up-5, .level-up-6, .level-up-7, .level-up-8 {
    border-top: solid 1px #fb7171;
    border-bottom: solid 1px #de504f;
    color: #fff;
}

.level-up-5, .level-up-6, .level-up-7, .level-up-8 {
    border-top: solid 1px #FC8686;
    border-bottom: solid 1px #F77B7B;
}

.level-up-1 {
    background: #ea1e1d;
}

.level-up-2 {
    background: #ee3a3b;
}

.level-up-3 {
    background: #f34b4a;
}

.level-up-4 {
    background: #f35b5a;
}

.level-up-5 {
    background: #f27070;
}

.level-up-6 {
    background: #f38383;
}

.level-up-7 {
    background: #f39595;
}

.level-up-8 {
    background: #f3acac;
}

.level-down-1, .level-down-2, .level-down-3, .level-down-4, .level-down-5, .level-down-6, .level-down-7, .level-down-8 {
    border-top: solid 1px #3ec8a5;
    border-bottom: solid 1px #00a57c;
    color: #fff;
}

.level-down-1 {
    background: #00b084;
}

.level-down-2 {
    background: #00bf8f;
}

.level-down-3 {
    background: #00cb98;
}

.level-down-4 {
    background: #17d6a6;
}

.level-down-5 {
    background: #35deb4;
}

.level-32 {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}

.level-52 {
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 52px;
}

.bg-3 {
    background: #f5f7fa;
}

.bg-4 {
    background: #f5f7f9;
}

.datepicker{
    padding-right:32px;
    background: url(/assets/img/bg/calendar.gif) no-repeat 100% 50%;
}

.icon{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.icon-logo{width:151px;
    height: 60px;background-repeat: no-repeat;}

.icon-search{width: 20px;
    height: 21px;background-repeat: no-repeat;}
.icon-enter{width: 20px;
    height: 20px;background-repeat: no-repeat;}

.icon-msg{width:20px;
    height: 14px;background-repeat: no-repeat;}

.icon-triangle-01{width:27px;
    height: 18px;background-repeat: no-repeat;}
.icon-triangle-02{width:27px;
    height: 18px;background-repeat: no-repeat;}

.icon-phone{width: 14px;
    height: 22px;background-repeat: no-repeat;}

.icon-circle-yellow{width: 17px;
    height: 17px;background-repeat: no-repeat;}
.icon-circle-write{width: 17px;
    height: 17px;background-repeat: no-repeat;}

.icon-arrows-left{width: 28px;
    height: 49px;background-repeat: no-repeat;}

.icon-arrows-right{width: 28px;
    height: 49px;background-repeat: no-repeat;}
.icon-arrows-4-up{width: 18px;
    height: 17px;background-repeat: no-repeat;}

.icon-arrows-4-down{width: 18px;
    height: 17px;background-repeat: no-repeat;}
.icon-up{width: 16px;
    height: 16px;background-repeat: no-repeat;}
.icon-down{width: 16px;
    height: 16px;background-repeat: no-repeat;}
.icon-fire{width: 27px;
    height: 26px;background-repeat: no-repeat;}
.icon-ok{width: 25px;
    height: 20px;background-repeat: no-repeat;}
.icon-add{width:17px;
    height: 19px;background-repeat: no-repeat;}
.btn.active .icon-add, .btn:hover .icon-add{background-repeat: no-repeat;}
.icon-add-2{width:23px;
    height: 22px;background-repeat: no-repeat;}
.icon-up-1{width:14px;
    height: 14px;background-repeat: no-repeat;}
.icon-down-1{width:14px;
    height: 14px;background-repeat: no-repeat;}
.icon-up-2{width:42px;
    height: 52px;background-repeat: no-repeat;}
.icon-down-2{width:42px;
    height: 52px;background-repeat: no-repeat;}
.icon-up-3{width:16px;
    height: 20px;background-repeat: no-repeat;}
.icon-md-up, .icon-md-down{
    width: 23px;
    height: 22px;
}
.icon-md-up{background-repeat: no-repeat;}
.icon-md-down{background-repeat: no-repeat;}
.icon-circle-1-up{width: 12px;
    height: 12px;background-repeat: no-repeat;}
.icon-circle-1-down{width: 12px;
    height: 12px;background-repeat: no-repeat;}
.icon-circle-1-md{width: 12px;
    height: 12px;background-repeat: no-repeat;}
.icon-chart{width: 18px;
    height: 18px;background-repeat: no-repeat;}
.icon-clear{width:24px;
    height: 24px;background-repeat: no-repeat;}
.icon-search-1{width:44px;
    height: 40px;background-repeat: no-repeat;}
.icon-pdf{width:43px;
    height: 43px;background-repeat: no-repeat;}
.icon-x-white, .icon-x-red{width:12px;
    height: 12px;background-repeat: no-repeat;}
.icon-x-red{background-repeat: no-repeat;}
.icon-x-gray{width:12px;
    height: 12px;background-repeat: no-repeat;}
.icon-x-black{width:12px;
    height: 12px;background-repeat: no-repeat;}
/* dialog 相关 */
.icon-dialog-ok{width:73px;
    height: 73px;background-repeat: no-repeat;}
.icon-dialog-success{width:73px;
    height: 73px;background-repeat: no-repeat;}
.icon-dialog-warning{width:77px;
    height: 65px;background-repeat: no-repeat;}

.icon-dialog-disabled{width:72px;
    height: 63px;background-repeat: no-repeat;}
.icon-dialog-error{width:76px;
    height: 63px;background-repeat: no-repeat;}
.icon-dialog-file-error{width:72px;
    height: 62px;background-repeat: no-repeat;}

/* 我的股票相关 */

.icon-view{width:28px;
    height: 28px;background-repeat: no-repeat;}
.icon-parse{width:28px;
    height: 28px;background-repeat: no-repeat;}
.icon-del{width:28px;
    height: 28px;background-repeat: no-repeat;}
.icon-return{width:26px;
    height: 25px;background-repeat: no-repeat;}
.icon-lkey{width:16px;
    height: 15px;background-repeat: no-repeat;}
.icon-rkey{width:16px;
    height: 15px;background-repeat: no-repeat;}
/* footer part */
.icon-wx{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-wb{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-tt{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-f{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-g{width:47px;
    height: 49px;background-repeat: no-repeat;}
.icon-i{width:47px;
    height: 49px;background-repeat: no-repeat;}

.icon-et{width: 72px;
    height: 72px;background-repeat: no-repeat;}
.icon-sky{width:198px;
    height: 59px;background-repeat: no-repeat;}
.icon-xl{width: 71px;
    height: 67px;background-repeat: no-repeat;}
.icon-th{width: 71px;
    height: 67px;background-repeat: no-repeat;}
.icon-m{width: 103px;
    height: 67px;background-repeat: no-repeat;}

.icon-xlcj{width:133px;
    height: 40px;background-repeat: no-repeat;}
.icon-xlcj{width:133px;
    height: 40px;background-repeat: no-repeat;}
.icon-pfyh{width:124px;
    height: 40px;background-repeat: no-repeat;}
.icon-jjgcb{width:102px;
    height: 40px;background-repeat: no-repeat;}
/*
布局相关样式定义
=====================================================
 */

#wraper {

}

#mainbody {
    padding: 0 0 30px 0;
}

#logo-box, #nav-wrap, #msg-wrap {
    width: 1000px;
    margin: 0 auto;
}

#logo-box {
    height: 60px;
}

#nav-box {
    height: 50px;
    overflow: hidden;
}

#msg-box {
    height: 40px;
    overflow: hidden;
}

/* 定义宽/高/外间距/内间距/行高 */
.wrap-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

/* width / height */
.hp-100 {
    height: 100%;
}
.hf-1{
    height: 1em;
}
.wp-49 {
    width: 49%;
}

.wp-100 {
    width: 100%;
}

.w-32 {
    width: 32px;
}

.w-36 {
    width: 36px;
}

.w-56 {
    width: 56px;
}

.w-42 {
    width: 42px;
}

.w_64 {
    width: 64px;
}

.w-92 {
    width: 92px;
}

.w-72 {
    width: 72px;
}
.w-150{
    width:150px;
}

.w-300 {
    width: 300px;
}

.w-480 {
    width: 480px;
}
.w-490{
    width:490px;
}
.w-500{
    width:500px;
}
.w-680 {
    width: 680px;
}

.mh-400 {
    min-height: 400px;
}

/*内间距*/
.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}
.pt-25{
    padding-top:25px;
}
.p-0 {
    padding: 0;
}
.p-0-10{
    padding:0 10px;
}
.p-10-15{
    padding: 10px 15px;
}
.p-10-0{
    padding:10px 0;
}
.p-20-0 {
    padding: 20px 0;
}
.p-10-20{
    padding:10px 20px;
}
.p-40-0-20-0 {
    padding: 40px 0 20px 0;
}

/*外间距*/
.m-10-0 {
    margin: 10px 0;
}
.mt-5{
    margin-top:5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}
.mb-30{
    margin-bottom: 30px;
}
.ml-15 {
    margin-left: 15px;
}

.ml-240 {
    margin-left: 240px;
}
.mr-10{
    margin-right:10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20{
    margin-right:20px;
}
.mr-24 {
    margin-right: 24px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mt-30 {
    margin-top: 30px;
}

/* 行高定义 */
.lgp-2 {
    line-height: 2;
}

.lg-24 {
    line-height: 24px;
}

.lg-26 {
    line-height: 26px;
}
.lg-28 {
    line-height: 28px;
}
.lg-32 {
    line-height: 32px;
}

.lg-36 {
    line-height: 36px;
}

.lg-42 {
    line-height: 42px;
}

.lg-48 {
    line-height: 48px;
}

.lg-56 {
    line-height: 56px;
}

.lg-60 {
    line-height: 60px;
}

/*
==========================================
 */
[ic-role-loading]{
    display: none;
}
[ic-role-drag-handle]{
    cursor:  move;
}
[ic-slider]{
    position: relative;
    overflow: hidden;
}
[ic-role-tab]{
    cursor: pointer;
}
[ic-role-con]{
    display: none;
}

[ic-dropdown]{
    position: relative;
}
[ic-role-dropdown-menu]{
    position: absolute;
    left:0;
    z-index: 10;
    display: none;
}
[ic-role-dropdown-con]{
    overflow: hidden;
}

[ic-scene]{
    display: none;
}
[ic-scene-active]{
    display: inherit;
}
/*输入提示列表*/
[ic-role-list]{
    display: none;
    position: absolute;
    z-index: 100;
}
/* 对话框 */
[ic-dialog]{
    position: absolute;
    top:10%;
    left:50%;
    display: none;
    z-index: 100;
}
[ic-rold-dialog-close]{
    position: absolute;
    right:10px;
    top:10px;
}
/*.transparent{*/
/*background:rgba(0,0,0,0.6);*/
/*background: transparent\9;*/
/*zoom:1\8; *//* required for the filters */
/*-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; *//* IE8 */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); *//* IE5.5-7 */
/*}*/

/*.transparent2{*/
/**background:#f00; *filter:alpha(opacity=50);*/
/*}*/

#header{
}

#logo-box{
}
#logo-box .search{
    position: relative;
    margin:0 30px 0 0px;
    top:14px;
}
#logo-box  .search .icon-search{
    position: absolute;
    top: 6px;
    left: 5px;
}
#logo-box .search .hint{
    position: absolute;
    top:6px;
    right: 5px;
}
#logo-box .search input{
    width: 16em;
    padding:0 30px 0 30px;
}
#nav-box{
    height: 50px;
    line-height: 48px;
    background: #1a1c39;
}
#nav-box a{
    color:#fff;
    padding:0 16px;
}
#nav-box li a{
    display: inline-block;
    color:#fff;
    border-bottom:solid 2px #1a1c39;
}
#nav-box li a:hover, #nav-box li a.active{
    background: #ff9915;
    border-color:#dc8412;
}

#msg-box{
    line-height: 40px;
    background: #e7edf7;
}
#reg-prompt-box{height: 150px;
    padding:30px 0 0 0;background-repeat: no-repeat;}

#footer{
    border-top:solid 4px #ff9915;
    padding:20px 0 30px 0;
}
#footer h4{
    margin:0 0 10px 0;
}
#site, #interface, #et, #csf, #sky{
    width:180px;
    height: 160px;
    padding: 10px 20px;
}

#site li{
    margin:15px 20px 0 0;
}

#interface li{
    margin:0px 10px 0 0;
}

#partner{
    width:480px;
}
#partner li{
    margin:0 15px 0 0;
}
#et{
}



#reg-prompt-box{background-position:0px 0px}.panel-4{background-position:0px -190px}.icon-dialog-ok{background-position:-240px -190px}.icon-dialog-success{background-position:-323px -190px}.icon-et{background-position:-406px -190px}.icon-xl{background-position:-488px -190px}.icon-m{background-position:-569px -190px}.icon-th{background-position:-682px -190px}.icon-dialog-warning{background-position:-763px -190px}.icon-dialog-error{background-position:-850px -190px}.icon-dialog-disabled{background-position:-936px -190px}.icon-dialog-file-error{background-position:-1018px -190px}.icon-logo{background-position:-1100px -190px}.icon-sky{background-position:-1261px -190px}.icon-up-2{background-position:-1469px -190px}.icon-down-2{background-position:-1521px -190px}.icon-tt{background-position:-1573px -190px}.icon-arrows-left{background-position:-1630px -190px}.icon-i{background-position:-1668px -190px}.icon-g{background-position:-1725px -190px}.icon-f{background-position:-1782px -190px}.icon-arrows-right{background-position:-1839px -190px}.icon-wb{background-position:0px -330px}.icon-wx{background-position:-57px -330px}.icon-pdf{background-position:-1877px -190px}.icon-pfyh{background-position:-240px -273px}.icon-xlcj{background-position:-374px -273px}.icon-xlcj{background-position:-374px -273px}.icon-search-1{background-position:-517px -273px}.icon-jjgcb{background-position:-571px -273px}.icon-del{background-position:-683px -273px}.icon-parse{background-position:-721px -273px}.icon-view{background-position:-759px -273px}.icon-fire{background-position:-797px -273px}.icon-return{background-position:-834px -273px}.icon-clear{background-position:-870px -273px}.icon-phone{background-position:-904px -273px}.icon-add-2{background-position:-928px -273px}.icon-md-up{background-position:-961px -273px}.icon-md-down{background-position:-994px -273px}.icon-search{background-position:-1027px -273px}.icon-ok{background-position:-1057px -273px}.icon-enter{background-position:-1092px -273px}.icon-up-3{background-position:-1122px -273px}.icon-add{background-position:-1148px -273px}.btn.active .icon-add, .btn:hover .icon-add{background-position:-1175px -273px}.icon-chart{background-position:-1202px -273px}.icon-triangle-01{background-position:-1230px -273px}.icon-triangle-02{background-position:-1267px -273px}.icon-circle-yellow{background-position:-1304px -273px}.icon-arrows-4-down{background-position:-1331px -273px}.icon-arrows-4-up{background-position:-1359px -273px}.icon-circle-write{background-position:-1387px -273px}.icon-up{background-position:-1414px -273px}.icon-down{background-position:-1440px -273px}.icon-rkey{background-position:-1466px -273px}.icon-lkey{background-position:-1492px -273px}.icon-down-1{background-position:-1518px -273px}.icon-up-1{background-position:-1542px -273px}.icon-msg{background-position:-1566px -273px}.icon-x-black{background-position:-1596px -273px}.icon-circle-1-up{background-position:-1618px -273px}.icon-x-gray{background-position:-1642px -273px}.icon-x-red{background-position:-1664px -273px}.icon-x-white, .icon-x-red{background-position:-1686px -273px}.icon-circle-1-md{background-position:-1708px -273px}.icon-circle-1-down{background-position:-1732px -273px}#reg-prompt-box,.panel-4,.icon-dialog-ok,.icon-dialog-success,.icon-et,.icon-xl,.icon-m,.icon-th,.icon-dialog-warning,.icon-dialog-error,.icon-dialog-disabled,.icon-dialog-file-error,.icon-logo,.icon-sky,.icon-up-2,.icon-down-2,.icon-tt,.icon-arrows-left,.icon-i,.icon-g,.icon-f,.icon-arrows-right,.icon-wb,.icon-wx,.icon-pdf,.icon-pfyh,.icon-xlcj,.icon-search-1,.icon-jjgcb,.icon-del{background-image: url(/assets/img/css/common/common_z.png)}.icon-parse,.icon-view,.icon-fire,.icon-return,.icon-clear,.icon-phone,.icon-add-2,.icon-md-up,.icon-md-down,.icon-search,.icon-ok,.icon-enter,.icon-up-3,.icon-add,.btn.active .icon-add, .btn:hover .icon-add,.icon-chart,.icon-triangle-01,.icon-triangle-02,.icon-circle-yellow,.icon-arrows-4-down,.icon-arrows-4-up,.icon-circle-write,.icon-up,.icon-down,.icon-rkey,.icon-lkey,.icon-down-1,.icon-up-1,.icon-msg{background-image: url(/assets/img/css/common/common_z.png)}.icon-x-black,.icon-circle-1-up,.icon-x-gray,.icon-x-red,.icon-x-white, .icon-x-red,.icon-circle-1-md,.icon-circle-1-down{background-image: url(/assets/img/css/common/common_z.png)}