[ic-viewer] [ic-viewer-item]{
  cursor:pointer;
}

#ic-viewer-box-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  #ic-viewer-box {
    width:100%;
    height:100%;
    & > img {
      display: block;
      width: 100%;
    }
  }
  #ic-viewer-info{
    position:absolute;
    bottom:3em;
    left:0;
    right:0;
    text-align:center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
  }
  #ic-viewer-handle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 1.2;
    font-size: 1.6em;
    text-align:center;
    & > div {
      display: inline-block;
      cursor: pointer;
      margin:0 5px;
    }
  }
}